
@font-face {
    font-family: 'CustomFont_SupplyCenter';
    src: url('https://raw.githubusercontent.com/kooner27/421_projects/main/yew-app/assets/SupplyCenter-0W9nz.ttf') format('truetype');
}


html,
body {
    margin: 0;
    /*padding: 20px;*/
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'CustomFont_SupplyCenter', sans-serif;
    background-color: #cfc494; 
}

// .cell {
//     border: 1px solid black;
//     text-align: center;
//     line-height: 100px;
// }
// .cell-hovered {
//     border: 1px solid black;
//     text-align: center;
//     line-height: 100px;
//     background-color: lightgray;
//     transform: scale(1.05);
//     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
// }
button {
    background-color: white;
}